.puzzle-image {
    display: inline-block;
    left: 30%;
    position: relative;

    .notification {
        color: blanchedalmond;
        font-size: 100px;
        position: absolute;
        text-align: center;
        top: 10%;
        z-index: 1;
    }

    .box {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.timer {
    float: right;
}


.puzzle {
    border: 1px solid blue;
    box-sizing: initial;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    justify-content: center;
    padding: 0;
    width: 700px;
}
.puzzle-image-original {
    background-size: 700px;
    background-repeat:   no-repeat;
    background-size:     cover; 
    background-position: center center;
    color: white;
    height: 700px;
    font-size: 250px;
    margin: auto;
    text-align: center;
    width: 700px;
}
